.error-messages{
    font-size: 0.7em;
    color: red;
    text-align: center;
}
ion-content {
    //#f5af19, #f12711 #91b8ed, #77b5fe
    --ion-background-color: linear-gradient(#25fde9, #86e3da);
}
