<ion-content>
  <form  [formGroup]="inscriptionForm">
  <!--  <ion-grid>-->
          <div text-center>
            <h3>Enregistrement!</h3>
          </div>
            <ion-item lines="none" color="transparent">
                <ion-label color="dark" text-center>Nom</ion-label>
              <ion-input  formControlName="nom" type="text"  color="dark" placeholder="Votre Nom" ngModel required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let item of error_messages.nom" >
                <div class="error_message" *ngIf="inscriptionForm.get('nom').hasError(item.type) && (inscriptionForm.get('nom').dirty || inscriptionForm.get('nom').touched)">
                    {{ item.message }}
                </div>
              </ng-container>
            </div>
            <ion-item color="transparent"  lines="none">
                <ion-label color="dark" text-center>Prenom</ion-label>
              <ion-input formControlName="prenom" color="dark" type="text"  color="dark" placeholder="Votre prenom" ngModel required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let item of error_messages.prenom" >
                <div class="error_message" *ngIf="inscriptionForm.get('prenom').hasError(item.type) && (inscriptionForm.get('prenom').dirty || inscriptionForm.get('prenom').touched)">
                    {{ item.message }}
                </div>
              </ng-container>
            </div>
            <ion-item color="transparent"  lines="none">
                <ion-label color="dark" text-center>Adresse</ion-label>
              <ion-input formControlName="adresse" color="dark" type="text" placeholder="Votre adresse" ngModel required></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.adresse" >
                  <div class="error_message" *ngIf="inscriptionForm.get('adresse').hasError(item.type) && (inscriptionForm.get('adresse').dirty || inscriptionForm.get('adresse').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
              <ion-item color="transparent" lines="none">
                  <ion-select placeholder="Sexe" color="white" formControlName="sexe" ngModel required>
                      <ion-select-option value="Homme">Homme</ion-select-option>
                      <ion-select-option value="Femme">Femme</ion-select-option>
                    </ion-select>
              </ion-item>
            <ion-item color="transparent"  lines="none">
                <ion-label color="dark" text-center>Telephone</ion-label>
              <ion-input formControlName="telephone" color="dark" type="number" placeholder="Votre Téléphone" ngModel required></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.telephone" >
                  <div class="error_message" *ngIf="inscriptionForm.get('telephone').hasError(item.type) && (inscriptionForm.get('telephone').dirty || inscriptionForm.get('telephone').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
            <ion-item color="transparent" lines="none"> 
                <ion-label color="dark" text-center>Email</ion-label>
              <ion-input formControlName="email" type="email" color="dark" placeholder="Votre Email" ngModel required></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.email" >
                  <div class="error_message" *ngIf="inscriptionForm.get('email').hasError(item.type) && (inscriptionForm.get('email').dirty || inscriptionForm.get('email').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
            <ion-item color="transparent"  lines="none">
                <ion-label color="dark" text-center>Nom</ion-label>
              <ion-input formControlName="siren" type="text" color="dark" placeholder="Votre siren" ngModel ></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.siren" >
                  <div class="error_message" *ngIf="inscriptionForm.get('siren').hasError(item.type) && (inscriptionForm.get('siren').dirty || inscriptionForm.get('siren').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
            <ion-item color="transparent"  lines="none">
                <ion-label color="dark" text-center>Nom</ion-label>
              <ion-input formControlName="siret" color="dark" type="text" placeholder="Votre siret" ngModel ></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.siret" >
                  <div class="error_message" *ngIf="inscriptionForm.get('siret').hasError(item.type) && (inscriptionForm.get('siret').dirty || inscriptionForm.get('siret').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
            <ion-item color="transparent"  lines="none">
                <ion-label color="dark" text-center>Nom</ion-label>
              <ion-input formControlName="numerocarte" color="dark" type="text" placeholder="Votre numero carte Banquaire" ngModel ></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.numerocarte" >
                  <div class="error_message" *ngIf="inscriptionForm.get('numerocarte').hasError(item.type) && (inscriptionForm.get('numerocarte').dirty || inscriptionForm.get('numerocarte').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
           <!--  <ion-item color="transparent"  lines="none">
                <ion-select placeholder="Profil" color="dark" formControlName="typeclient_id" ngModel required>
                    <ion-select-option color="dark" *ngFor="let typeClient of typeClients" value= '{{ typeClient.id }}'>{{ typeClient.typeclient }}</ion-select-option>
                  </ion-select>
            </ion-item>

            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.typeclient_id" >
                  <div class="error_message" *ngIf="inscriptionForm.get('typeclient_id').hasError(item.type) && (inscriptionForm.get('typeclient_id').dirty || inscriptionForm.get('typeclient_id').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div> -->
          <div padding>
            <ion-button  expand="block" shape="round" fill="outline" size="large"  [disabled]="inscriptionForm.invalid" (click)="register()" >Enregistrer</ion-button>
          </div>
   <!-- </ion-grid> -->
  </form>
</ion-content>
