<ion-header>
  <ion-toolbar color="turquoise">
    <ion-title>signaler</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="signalerForm">
    <ion-grid>
          <div text-center>
            <h3>Signaler!</h3>
          </div>
          <ion-item>
              <ion-label position="floating">Lieu de L'incident</ion-label>
              <ion-input  formControlName="adresse" type="text"  [(ngModel)]="signale.adresse"  required></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let item of error_messages.adresse" >
              <div class="error_message" *ngIf="signalerForm.get('adresse').hasError(item.type) && (signalerForm.get('adresse').dirty || signalerForm.get('adresse').touched)">
                  {{ item.message }}
              </div>
          </ng-container>
          </div>
            <ion-item>
                <ion-label position="floating">description</ion-label>
              <ion-input  formControlName="contenu" type="text"  [(ngModel)]="signale.contenu"  required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let item of error_messages.contenu" >
                <div class="error_message" *ngIf="signalerForm.get('contenu').hasError(item.type) && (signalerForm.get('contenu').dirty || signalerForm.get('contenu').touched)">
                    {{ item.message }}
                </div>
              </ng-container>
            </div>
            
         
            <ion-input  formControlName="client_id" type="hidden"  [(ngModel)]="signale.client_id" required></ion-input>
           
          <div padding>
            <ion-button  size="large"  [disabled]="signalerForm.invalid" (click)="signaler()" expand="block" shape="round">Envoyer</ion-button>
          </div>
    </ion-grid>
  </form>
</ion-content>
