<ion-header>
    <ion-toolbar color="turquoise">
        <ion-title>paiement</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content class="arreplan"> 
    <form  [formGroup]="paiementForm">
        <ion-grid>
              <div text-center>
                <h3>PaieMent!</h3>
              </div>
              <ion-img src="assets/icon/carte.jpg"></ion-img>
              <ion-item>
                  <ion-label position="floating">Numéro de Carte</ion-label>
                  <ion-input  formControlName="numeroCarte" type="text"  [(ngModel)]="numeroCarte" (keyup)="addSpace($event)" (keypress)="validate($event)"  required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let item of error_messages.numeroCarte" >
                  <div class="error_message" *ngIf="paiementForm.get('numeroCarte').hasError(item.type) && (paiementForm.get('numeroCarte').dirty || paiementForm.get('numeroCarte').touched)">
                      {{ item.message }}
                  </div>
              </ng-container>
              </div>
                
                    <!-- <ion-label position="floating">Date d'expiration</ion-label> -->
                    <ion-row>
                      
                      <ion-col size="5">
                          <ion-item>
                          <ion-label position="floating">Mois</ion-label>
                        <ion-input  formControlName="mois" type="number"  [(ngModel)]="mois"  placeholder="MM" required></ion-input>
                          </ion-item>
                      </ion-col>

                      <ion-col size="6">
                        <ion-item>
                          <ion-label position="floating">Annee</ion-label>
                        <ion-input  formControlName="annee" type="number"  [(ngModel)]="annee" placeholder="AAAA"  required></ion-input>
                      </ion-item>
                      </ion-col>
            
                    </ion-row>
               
                  
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.mois" >
                    <div class="error_message" *ngIf="paiementForm.get('mois').hasError(item.type) && (paiementForm.get('mois').dirty || paiementForm.get('mois').touched)">
                        {{ item.message }}
                    </div>
                  </ng-container>
                </div>
                <div class="error-messages">
                    <ng-container *ngFor="let item of error_messages.annee" >
                      <div class="error_message" *ngIf="paiementForm.get('annee').hasError(item.type) && (paiementForm.get('annee').dirty || paiementForm.get('annee').touched)">
                          {{ item.message }}
                      </div>
                    </ng-container>
                  </div>
                <ion-item>
                    <ion-label position="floating">CVC</ion-label>
                  <ion-input  formControlName="cvc" type="number"  [(ngModel)]="cvc"  required></ion-input>
                </ion-item>
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.cvc" >
                    <div class="error_message" *ngIf="paiementForm.get('cvc').hasError(item.type) && (paiementForm.get('cvc').dirty || paiementForm.get('cvc').touched)">
                        {{ item.message }}
                    </div>
                  </ng-container>
                </div>
             
                <ion-input  formControlName="client_id" type="hidden"  [(ngModel)]="clientId" required></ion-input>
                <ion-input  formControlName="reserver_id" type="hidden"  [(ngModel)]="reserverId" required></ion-input>
              <div padding>
                <ion-button  size="large"   (click)="payer()" expand="block">Payer</ion-button>
              </div>
        </ion-grid>
      </form>
</ion-content>
