<ion-header>
    <ion-toolbar color="turquoise" text-center>
      <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
      <div class="form-group">
          <label>Entre Une adresse</label>
          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Chercher une adresse" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
    <agm-map
    [style.height.px]="height"
    [latitude]="lat"
[longitude]="lng" [zoom]='13'>
  <agm-marker [latitude]="ma?.lat" [longitude]="ma?.lng" [markerDraggable]="true"   (dragEnd)="markerDragEndDepart( md, $event)">
      <agm-info-window>
          <p>Point de départ</p>
      </agm-info-window>
  </agm-marker>
  <agm-marker [latitude]="md?.lat +0.01" [longitude]="md?.lng -.001" [markerDraggable]="true"  (dragEnd)="markerDragEndArrive( ma, $event)">
      <agm-info-window>
          <p>Point d'arrivé</p>
      </agm-info-window>
  </agm-marker>
</agm-map>
  </ion-content>
<ion-footer>
  <ion-footer>
    <ion-toolbar>
      <!-- <ion-buttons slot="primary"> -->
        <ion-button color="secondary" size="large" (click)="closeModal()" expand="full">
         Valider
        </ion-button>
      <!-- </ion-buttons> -->
    </ion-toolbar>
  </ion-footer>
</ion-footer>
