<ion-header>
  <ion-toolbar color="turquoise">
    <ion-title>proposition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <br><br><br><br>
        <!--ion-grid-->
        <ion-card>
          <ion-card-header>
              <div text-center>
                  <h3>Demande de trajet!</h3>
                </div>
          </ion-card-header>
          <ion-card-content>
              <form  [formGroup]="propositionForm">
              <ion-item color="white">
                  <ion-label position="floating">Nombre de places Vehicule</ion-label>
                <ion-input  formControlName="nbplace" type="number" placeholder="Nombre de place" [(ngModel)]="demande.nbplace"  required></ion-input>
              </ion-item>
              <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.nbplace" >
                  <div class="error_message" *ngIf="propositionForm.get('nbplace').hasError(item.type) && (propositionForm.get('nbplace').dirty || propositionForm.get('nbplace').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
              <ion-item color="white">
                <!-- <ion-input  formControlName="lieudepart" type="text" (click)=" openStart()"  placeholder="cliquer pour enrengistrer le lieu de depart" ngModel required></ion-input> -->
                <ion-label position="floating">Cliqué pour choisir les adresses </ion-label>
                <ion-input  formControlName="adressedepart" type="text" (click)=" openStart()"  placeholder="cliquer pour enrengistrer le lieu de depart" [(ngModel)]="demande.adressedepart"  required></ion-input>
              </ion-item>
              <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.adressedepart" >
                  <div class="error_message" *ngIf="propositionForm.get('adressedepart').hasError(item.type) && (propositionForm.get('adressedepart').dirty || propositionForm.get('adressedepart').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
              <ion-item color="white">
                  
                <ion-input  formControlName="adressearrive" type="text"  placeholder="cliquer pour enrengistrer le lieu d'arrivé" [(ngModel)]="demande.adressearrive" required></ion-input>
              </ion-item>
              <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.adressearrive" >
                  <div class="error_message" *ngIf="propositionForm.get('adressearrive').hasError(item.type) && (propositionForm.get('adressearrive').dirty || propositionForm.get('adressearrive').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
              <ion-item color="white">
               <ion-label position="floating">Date de Depart </ion-label>
                <ion-datetime  formControlName="datedepart" displayFormat="D MM YYYY H:mm" type="date" placeholder="Veuillez saisir la date" ngModel required></ion-datetime>
              </ion-item>
              <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.datedepart" >
                  <div class="error_message" *ngIf="propositionForm.get('datedepart').hasError(item.type) && (propositionForm.get('datedepart').dirty || propositionForm.get('datedepart').touched)">
                      {{ item.message }}

                  </div>
                </ng-container>
              </div>
              
             <!--  <ion-item color="white">
                <ion-select placeholder="Select One" formControlName="typeproposition_id" ngModel required>
                    <ion-select-option *ngFor="let typeproposition of typepropositions" value= '{{ typeproposition.id }}'>{{ typeproposition.typeproposition }}</ion-select-option>
                  </ion-select>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let item of error_messages.typevehicule_id" >
                  <div class="error_message" *ngIf="propositionForm.get('typeproposition_id').hasError(item.type) && (propositionForm.get('typeproposition_id').dirty || propositionForm.get('typeproposition_id').touched)">
                      {{ item.message }}
                  </div>
              </ng-container>
              </div> -->
                <ion-input  formControlName="latdepart" type="hidden"  [(ngModel)]="demande.latdepart"  required></ion-input>
                <ion-input  formControlName="lngdepart" type="hidden"  [(ngModel)]="demande.lngdepart" required></ion-input>
                <ion-input  formControlName="latarrive" type="hidden"  [(ngModel)]="demande.latarrive" required></ion-input>
                <ion-input  formControlName="lngarrive" type="hidden"  [(ngModel)]="demande.lngarrive" required></ion-input>
                <ion-input  formControlName="client_id" type="hidden"  [(ngModel)]="demande.client_id" required></ion-input>
            <div padding>
              <ion-button size="large" color="25fde9"  [disabled]="propositionForm.invalid" (click)="register()" expand="block">Register</ion-button>
            </div>
      <!--/ion-grid-->
    </form>
          </ion-card-content>
        </ion-card>
              
              
    
</ion-content>
