/* ion-content {
    --ion-background-color: #e3e8ee;
} */
/* ion-input,ion-select,ion-datetime  {
    width: calc(100% - 8px - 8px);
    background: #fff;
    color: blue;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 14px 18px;
    margin: 13px 8px;
  }*/
  ion-label{
    padding: 14px 18px;
    margin: 13px 8px;
  }
  .error_message{
    color: red;
} 
ion-toolbar{
  background-color: var( --color-turquoise, #25fde9);
}