<ion-header>
  <ion-toolbar color="turquoise">
    <ion-title>Un Trajet</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content>
    <ion-card >
        <ion-item >
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Trajet</ion-label>
          <ion-button fill="outline" slot="end" (click)="reserver(propositions?.id)"  *ngIf="client?.typeclient?.typeclient=='Passagers'" >reserver</ion-button>
        </ion-item>
      
        <ion-card-content>
            <p>Moyen de transport: {{ propositions?.typevehicule }}</p>
            <p>Depart: {{ propositions?.lieudepart }}</p>
            <p>Arrivée: {{ propositions?.lieuarrive }}</p>
            <p>Date: {{ propositions?.datedepart | date:'dd-mm-yyyy hh:mm:ss' }}</p>
            <p>Nombre de Places : {{ propositions?.nbplace }}</p>
            <p>Nombre de Disponible : {{ propositions?.nbplacedispo }}</p>
            <p>montant: {{ propositions?.montant }} €</p>
            <p>montant: {{ propositions?.capacite/(propositions?.nbplace - 1) }} kg/personne
            </p>
            <div *ngIf="client?.typeclient?.typeclient=='Chauffeur'">
            <p *ngFor="let propositions1 of reservers" >
              Nom : {{ propositions1.client.prenom }} {{ propositions1.client.nom }}
              <br>Tel : {{ propositions1.client.telephone }}
              <br>Place réservé(s): {{ propositions1.nbplaceres }}
            </p>
          </div>
        </ion-card-content>
        <agm-map
        [style.height.px]="300"
    [latitude]="lat"
    [longitude]="long" [zoom]="10">
    <div *ngIf="client?.typeclient?.typeclient=='Chauffeur'">
  <div *ngFor="let reserver of reservers" >
      <agm-marker *ngFor="let position of reserver.client.positions"  [latitude]="position.latitude" [longitude]="position.longitude">
          <agm-info-window>
            <p (click)="createNote(reserver.client.id)" >Client</p>
            <p>{{ reserver.client.nom }}  {{ reserver.client.prenom }}</p>
          <p> {{ reserver.client.telephone }} </p>
          <p (click)="createNote(reserver.client.id)" >noter</p></agm-info-window>
      </agm-marker>
  </div>
</div>
  <agm-direction [origin]="origin" [destination]="destination" [panel]="myPanel"> </agm-direction>
      <div #myPanel>
  
        </div>
   </agm-map>
      </ion-card> 

      </ion-content>