<ion-header>
  <ion-toolbar color="turquoise">
    <ion-title>mes-transport</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of propositions">
    <ion-item >
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Trajet</ion-label>
      <ion-button fill="outline" slot="start" *ngIf="item.etat==false"    (click)="confirmerTransport(item.id)" >Valider</ion-button>
      <ion-button fill="outline" slot="end" [routerLink]="['/une-proposition/', item.id]"  routerDirection="forward">Voir</ion-button>
    </ion-item>
  
    <ion-card-content>
      <p>Depart: {{ item.lieudepart }}</p>
      <p>Arrivée: {{ item.lieuarrive }}</p>
      <p>Date: {{ item.datedepart | date:'dd-M-yyyy hh:mm:ss' }}</p>
      <p>Place disponible: {{ item.nbplacedispo }}</p>
    </ion-card-content>
  </ion-card> 
</ion-content>
