<ion-header>
  <ion-toolbar>
    <ion-title>arrive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form-group">
        <label>Enter address</label>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>
     
      <agm-map  [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Chercher un Lieu" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        <agm-marker  [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>
     
      <h5>Address: {{address}}</h5>
      <div>Latitude: {{latitude}}</div>
      <div>Longitude: {{longitude}}</div>
</ion-content>
