<ion-header>
 <ion-toolbar color="turquoise"> 
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-title>Guyane</ion-title>
        
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button shape="round" fill="outline"  slot="end">
            <ion-icon slot="start" name="locate"></ion-icon>
            Ma position
          </ion-button>
    </ion-buttons>      
    </ion-toolbar>
</ion-header>
<ion-content>
  <agm-map
    [style.height.px]="height"
  [latitude]="lat1"
  [longitude]="lng1"[zoom]="10" (mapReady)="onMapReady($event)" >
    <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
    <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
    <agm-direction [origin]="origin" [destination]="destination"> </agm-direction>
 </agm-map>
 <!-- <ion-button expnad="full" (click)="startBackgroundTracking()" >start</ion-button><br>
 <ion-button expnad="full" (click)="startBackgroundTracking()" >stop</ion-button><br>
 <ion-button expnad="full" (click)="GetLocations()" >geolocaliser</ion-button><br>
 <ion-button expnad="full" (click)="ClearLocations()" >clear</ion-button>
 <ion-list *ngFor="let location of locations" >
<ion-item><ion-label><b>Latitude: </b>{{ location.latitude }}</ion-label></ion-item>
<ion-item><ion-label><b>Longitude:</b>{{ location.longitude }}</ion-label></ion-item>
<ion-item><ion-label><b>Vitesse:</b>{{ location.speed }}</ion-label></ion-item> 
 </ion-list>-->
</ion-content>