ion-content {
    --ion-background-color: #e3e8ee;
}
.whitebacground{
    background-color: #ffff;
}
.valide{
    background-color: #bcffbc;
}
.nonvalide{
    background-color: #fab6b6;
}
ion-toolbar{
    background-color: var( --color-turquoise, #25fde9);
}